# {{note.title}}

---

Created: {{note.created_at}}
Edited: {{note.edited_at}}
Tags: {% for tag in note.tags -%} [{{ tag }}](../tag_index.md#{{tag}}-notes){% if not loop.last %}, {% endif %}{% endfor %}

---

{{note.textContent}}

{% if note.images is defined %}
{% for image in note.images %}
![{{image}}](./{{image}})
{% endfor %}
{% endif %}

{% for item in note.listContent -%}
- [{% if item.isChecked %}x{% else %} {% endif %}] {{ item.text }}
{% endfor %}

{% if note.assets is defined %}
{% for asset in note.assets %}
[{{asset}}](./{{asset}})
{% endfor %}
{% endif %}


``` json
{{ note|tojson_pretty|safe }}
```